# Force WWW
RewriteEngine On
RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteEngine On
RewriteRule ^noRedirect/ - [L,NC]
RewriteRule ^api/ - [L,NC]
RewriteRule ^([a-z0-9-]*)/?profile$ profile.php?username=$1 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !\.(css|js|png|jpg|otf|eot|woff|ttf|svg|txt)$