/* base CSS */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

body {
  background-color: #ffebeb; }

.modal-open {
  overflow: hidden; }

#modal-back {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: #000000;
  opacity: 0.8;
  filter: alpha(opacity=80); }

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block; }

[hidden] {
  display: none; }

#cms-font {
  font-family: "Computer Modern Sans", sans-serif; }

form {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

.global-container {
  width: 1000px;
  margin: 0 auto;
  position: relative; }
  @media (min-width: 1000px) {
    .global-container {
      width: 1000px; } }
  @media (max-width: 1000px) {
    .global-container {
      width: 100%; } }

#content {
  margin: 0;
  outline: none;
  padding: 0;
  width: 100%;
  clear: both; }

#mainContainer {
  display: block;
  width: 100%;
  min-height: 600px; }

.autrovert-logo {
  font-family: "Now", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000; }
  .autrovert-logo .autrovert-logo .vert {
    color: #FFFFFF; }
  @media (min-width: 700px) {
    .autrovert-logo {
      display: block; } }
  @media (max-width: 700px) {
    .autrovert-logo {
      display: none; } }

.autrovert-logo-small {
  font-family: "Now", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  padding-top: 5px; }
  .autrovert-logo-small .autrovert-logo .vert {
    color: #FFFFFF; }
  @media (min-width: 700px) {
    .autrovert-logo-small {
      display: none; } }
  @media (max-width: 700px) {
    .autrovert-logo-small {
      display: block; } }

.topnavbar-text {
  font-family: "Now", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  line-height: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000; }

#topBarNav {
  background-color: #CF151A;
  min-width: 100%;
  z-index: 1000;
  height: 45px; }
  #topBarNav #navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto; }
    @media (min-width: 1000px) {
      #topBarNav #navbar {
        width: 1000px; } }
    @media (max-width: 1000px) {
      #topBarNav #navbar {
        width: 100%;
        padding: 0 5px; } }

#left-navbar, #right-navbar {
  display: flex; }

#left-navbar {
  flex: 1 1 auto;
  justify-content: flex-start; }
  #left-navbar #search {
    min-width: 150px;
    width: 100%; }
  #left-navbar .autrovert-logo {
    margin-top: 5px; }

#search {
  background-color: #ffffff;
  border: 1px solid #CF151A;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 28px;
  max-width: 350px;
  overflow: hidden;
  position: relative;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 50px;
  top: 9px;
  bottom: 0; }
  #search #searchButton {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 1;
    border: none;
    background-color: #f6f7f9;
    outline: none;
    cursor: pointer;
    color: #444444; }
    #search #searchButton #searchButtonPic {
      height: 15px;
      width: 15px;
      opacity: 0.8;
      margin: 0 10px; }
  #search #searchBar {
    width: inherit; }
  #search #searchText {
    background: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding-top: 5px;
    outline: none; }

#right-navbar {
  flex: 0 0 auto;
  justify-content: flex-end; }

.topBarButton {
  opacity: 0.4; }

#leftRightNav {
  display: inline-block;
  padding: 0 10px;
  vertical-align: top; }

#garageNav {
  float: left;
  position: relative;
  margin: 8px 0 0 2px; }

#garageButton {
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  height: 30px;
  padding: 0 10px 2px 13px; }

#garageIcon {
  width: 24px;
  height: 24px; }

#profileNav {
  margin: 8px 0;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

#profileButton {
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  line-height: 30px;
  height: 30px;
  font-size: 12px;
  padding: 0 10px 1px 0;
  text-decoration: none;
  font-family: "Now", sans-serif;
  font-weight: bold;
  color: #eeeeee;
  opacity: 0.85; }

#profImg {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  vertical-align: inherit; }

#topBarLogout {
  margin-top: 5px;
  justify-content: flex-end;
  float: right; }

#logoutIcon {
  height: 30px;
  width: 30px; }

#notificationNav {
  float: left;
  position: relative;
  margin: 6px 0 0 0; }

#notificationButton {
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  height: 30px;
  padding: 0 10px 2px 13px;
  border-left: 1px solid #b00f1f; }

#notificationIcon {
  height: 30px;
  width: 30px; }

.global-wrapper {
  background: #000000;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column; }

.header {
  height: 70px;
  background-color: #CF151A;
  min-width: 100%; }
  .header .headWrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto; }
    @media (min-width: 830px) {
      .header .headWrapper {
        width: 800px; } }
    @media (max-width: 830px) {
      .header .headWrapper {
        width: 100%;
        min-width: 630px;
        padding: 0 5px; } }

.logo {
  height: 40px;
  text-align: center; }
  .logo h1 {
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
    margin: auto; }
  .logo a {
    text-decoration: none; }

.login-form {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: right; }
  .login-form .forgot-pass {
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    left: 200px;
    position: absolute;
    top: 45px;
    color: #c6cacd; }
  .login-form input {
    display: inline-block;
    margin: 10px 12px 0 0;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 6px 4px;
    font-size: 12px;
    width: 180px; }
  .login-form input[type="submit"] {
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    overflow: visible;
    text-decoration: none !important;
    text-align: center;
    width: auto;
    border-radius: 3px;
    padding: 0 10px;
    height: 26px;
    line-height: 24px;
    box-sizing: border-box;
    font-size: 12px;
    color: #681500;
    background-color: #c5bec4;
    border-color: #7f0910;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    margin: 10px 0 0; }

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  min-height: 480px; }

/* REGISTER FORM*/
.registerForm {
  width: 420px;
  padding: 15px 30px 30px;
  background-color: #FFFFFF;
  margin: 10px 0; }
  .registerForm label {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 2px;
    display: block; }
  .registerForm input {
    vertical-align: middle;
    display: block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 18px;
    padding: 0 0 0 6px;
    border: 1px solid;
    height: 32px;
    width: 100%;
    margin-bottom: 15px; }

.agreement {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  display: block;
  margin-bottom: 15px; }

.headerReg {
  line-height: 24px;
  text-align: center; }

.subHeadReg {
  line-height: 24px;
  text-align: center; }

/*FOOTER*/
.footer-wrapper {
  background-color: #737373;
  vertical-align: baseline;
  width: 100%; }

#footer {
  margin: 0 auto;
  width: 800px; }
  #footer .copyright {
    color: #c3c3c3;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px; }

/* FORGOT PASSWORD*/
.forPass {
  background: #dee2e5 !important; }

.headForPass {
  text-align: center; }

.forPassForm {
  position: fixed;
  top: 150px;
  width: 420px;
  padding: 15px 30px 30px;
  background-color: #FFFFFF;
  margin: 10px 0; }
  .forPassForm label {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 2px;
    display: block; }
  .forPassForm input {
    vertical-align: middle;
    display: block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 18px;
    padding: 0 0 0 6px;
    border: 1px solid;
    height: 32px;
    width: 100%;
    margin-bottom: 15px; }
  .forPassForm .forPassForm-actions {
    text-align: center;
    margin-top: 30px; }
  .forPassForm .btnSubmit {
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none !important;
    width: auto;
    padding: 0 15px;
    line-height: 30px;
    box-sizing: border-box;
    white-space: nowrap;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    text-align: center;
    align-items: flex-start; }

@font-face {
  font-family: 'Now';
  src: url("//www.autrovert.com/style/fonts/now/Now-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Now';
  src: url("//www.autrovert.com/style/fonts/now/Now-Bold.otf");
  font-weight: bold;
  font-style: normal; }
/*font-family: "Computer Modern Sans", Tahoma, Geneva, sans-serif;*/
@font-face {
  font-family: 'Computer Modern Sans';
  src: url("//www.autrovert.com/style/fonts/cmu/cmunss.eot");
  src: url("//www.autrovert.com/style/fonts/cmu/cmunss.eot?#iefix") format("embedded-opentype"), url("//www.autrovert.com/style/fonts/cmu/cmunss.woff") format("woff"), url("//www.autrovert.com/style/fonts/cmu/cmunss.ttf") format("truetype"), url("//www.autrovert.com/style/fonts/cmu/cmunss.svg#cmunss") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Computer Modern Sans';
  src: url("//www.autrovert.com/style/fonts/cmu/cmunsx.eot");
  src: url("//www.autrovert.com/style/fonts/cmu/cmunsx.eot?#iefix") format("embedded-opentype"), url("//www.autrovert.com/style/fonts/cmu/cmunsx.woff") format("woff"), url("//www.autrovert.com/style/fonts/cmu/cmunsx.ttf") format("truetype"), url("//www.autrovert.com/style/fonts/cmu/cmunsx.svg#cmunsx") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Computer Modern Sans';
  src: url("//www.autrovert.com/style/fonts/cmu/cmunsi.eot");
  src: url("//www.autrovert.com/style/fonts/cmu/cmunsi.eot?#iefix") format("embedded-opentype"), url("//www.autrovert.com/style/fonts/cmu/cmunsi.woff") format("woff"), url("//www.autrovert.com/style/fonts/cmu/cmunsi.ttf") format("truetype"), url("//www.autrovert.com/style/fonts/cmu/cmunsi.svg#cmunsi") format("svg");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Computer Modern Sans';
  src: url("//www.autrovert.com/style/fonts/cmu/cmunso.eot");
  src: url("//www.autrovert.com/style/fonts/cmu/cmunso.eot?#iefix") format("embedded-opentype"), url("//www.autrovert.com/style/fonts/cmu/cmunso.woff") format("woff"), url("//www.autrovert.com/style/fonts/cmu/cmunso.ttf") format("truetype"), url("//www.autrovert.com/style/fonts/cmu/cmunso.svg#cmunso") format("svg");
  font-weight: bold;
  font-style: italic; }
