#garageHeader {
  display: flex;
  width: 1000px;
  background-color: #eeeeee;
  height: 100%;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
}

#headerProfileButton {
  font-family: "Computer Modern Sans", sans-serif;
  font-weight: bold;
  color: #4d4d4d;
  width: auto;
  height: 100%;
  padding: 5px;
  margin: 5px 80px 0 5px;
  background-color: #FFFFFF;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  text-decoration: none;
}

#garageProfPic {
  display: flex;
  margin: 2px 0 1px 0;
  text-decoration: none;
}

#garageProfile {
  height: 40px;
  width: 40px;
  border-radius: 2px;
}

#garageUsername {
  font-family: "Computer Modern Sans", sans-serif;
  font-weight: bold;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 15px;
  margin-left: 10px;
}

#center-column {
  margin-top: 20px;
  margin-left: 100px;
  max-width: 800px;
  background-color: #FFFFFF;
}

#FeedItem {
  background-color: #eeeeee;
  border: 1px solid #c3c3c3;
  border-radius: 2px;
  height: auto;
  width: 100%;
  color: #4d4d4d;
  font-family: "Computer Modern Sans", sans-serif;
}

#VehicleHeader {
  text-align: center;
  margin: 5px 150px;
  padding: 5px 0;
  background-color: #FFFFFF;
  border: 1px solid #c3c3c3;
  border-radius: 3px;
}

#VehicleName {
  width: 500px;
  color: #4d4d4d;
  margin: 0;
}

#MainPhoto {
  width: 780px;
  height: inherit;
  margin: 5px 10px;
  img {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
  }
}

#vehicleType {
  text-align: center;
  width: 200px;
  display: block;
  margin: 0 0 0 300px;
  text-decoration: none;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #4d4d4d;
}

#buildType {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

#vehicleInfoBasic {
  display: flex;
  justify-content: center;
  margin: 5px 10px;
  border-top: 1px solid #c3c3c3;
}

#basicInfo {
  color: #4d4d4d;
  margin: 0;
  font-weight: bold;
}

#vehicleInfoDet {
  display: flex;
  justify-content: center;
  border-top: 1px solid #c3c3c3;
  margin: 0 10px;
}

.detInfo {
  color: #4d4d4d;
  padding: 0 10px;
  margin: 5px 10px;
  font-weight: bold;
}

#updateWrapper {
  display: block;
  border-top: 1px solid #c3c3c3;
  margin: 5px 10px;
}

#recentUpdate {
  display: block;
  margin: 0 0 0 95px;
  width: 600px;
}

#timeWrapper {
  text-align: center;
  margin-top: 5px;
  color: #4d4d4d;
  font-family: "Computer Modern Sans", sans-serif;
  font-weight: bold;
}

.update {
  border: 1px solid #c3c3c3;
  background-color: #ffffff;
  border-radius: 2px;
}

.updateTitle {
  border-bottom: 1px solid #c3c3c3;
  padding: 3px;
  margin: 0;
  color: #4d4d4d;
  font-family: "Computer Modern Sans", sans-serif;
  font-weight: bold;
}

.updateBody {
  padding: 3px;
  margin: 0;
}














