#mainContainer {
  display: block;
}

.leftColumn {
  padding-left: 5px;
  margin-top: 15px;
  float: left;
  display: block;
  width: 150px;
  @media (max-width: 700px) {
    display: none;
  }
  @media (min-width: 700px) {
    display: block;
  }
}

.leftNavHeader{
  padding: 0;
  margin: 0;
  color: #444444;
}

.leftNavUL {
  padding: 0 0 10px 0;
  margin: 0;
}

// QUICK LINKS


#quickLinks {
  display: block;
  width: inherit;
  background: transparent;
  top: 10px;
  position: absolute;
  border-radius: 2px;
}

.buttonWrapper {
  margin: 5px 0;
}

.quickButton {
  display: block;
  height: 28px;
  line-height: 20px;
  background-color: #eeeeee;
  padding: 2px 10px;
  border: solid 1px #d2d2d2;
  border-radius: 1px;
  white-space: nowrap;
  text-decoration: none;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.quickFont {
  max-width: 150px;
  font-size: 12px;
  color: #666666;
  font-weight: bold;
}

// CENTER COLUMN

.centerColumn {
  margin-top: 15px;
  display: block;
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  float: left;
  margin-left: 20px;
}

// RIGHT COLUMN

.rightColumn {
  display: block;
  margin-top: 25px;
  width: 100%;
  max-width: 250px;
  float: right;
  @media (max-width: 700px) {
    display: none;
  }
  @media (min-width: 700px) {
    display: block;
  }
}

