/* base CSS */
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
  background-color: #ffebeb;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}

[hidden] {
    display: none;
}

#cms-font
{
    font-family: "Computer Modern Sans", sans-serif;
}

form
{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.global-container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

#content {
  margin: 0;
  outline: none;
  padding: 0;
  width: 100%;
  clear: both;
}

#mainContainer {
  display: block;
  width: 100%;
  min-height: 600px;
}

.autrovert-logo {
  font-family: "Now", sans-serif;
  font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
  .autrovert-logo .vert {
    color: #FFFFFF;
  }
}

.topnavbar-text {
  font-family: "Now", sans-serif;
  font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}

#topBarNav{
  background-color: #CF151A;
  min-width: 100%;
  z-index: 1000;
  height: 45px;
  #navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
    @media (min-width: 1000px) {
      width: 1000px;
    }
    @media (max-width: 1000px) {
      width: 100%;
      padding: 0 5px;
    }
  }
}

#left-navbar, #right-navbar {
  display: flex;
}

#left-navbar {
  flex: 1 1 auto;
  justify-content: flex-start;
  #search {
    min-width: 150px;
    width: 100%;
  }
  .autrovert-logo {
    margin-top: 5px;
  }
}

#search {
  background-color: #ffffff;
  border: 1px solid #CF151A;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 28px;
  max-width: 350px;
  overflow: hidden;
  position: relative;
  margin-left: 10px;
  padding-left: 5px;
  padding-right: 50px;
  top: 9px;
  bottom: 0;

  #searchButton{
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 1;
    border: none;
    background-color: #f6f7f9;
    outline: none;
    cursor: pointer;
    color: #444444;

    #searchButtonPic {
      height: 15px;
      width: 15px;
      opacity: 0.8;
      margin: 0 10px;
    }
  }

  #searchBar {
    width: inherit;
  }

  #searchText {
    background: transparent;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 16px;
    padding-top: 5px;
    outline: none;
  }
}

// RIGHT NAV BAR

#right-navbar {
  flex: 0 0 auto;
  justify-content: flex-end;
}

.topBarButton {
  opacity: 0.4;
}

// LEFT SIDE

#leftRightNav {
  display: inline-block;
  padding: 0 10px;
  vertical-align: top;
}

// MY GARAGE

#garageNav {
  float: left;
  position: relative;
  margin: 8px 0 0 2px;
}

#garageButton {
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  height: 30px;
  padding: 0 10px 2px 13px;
}

#garageIcon {
  width: 24px;
  height: 24px;
}

// MY PROFILE

#profileNav {
  margin: 8px 0;
  float: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#profileButton {
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  line-height: 30px;
  height: 30px;
  font-size: 12px;
  padding: 0 10px 1px 0;
  text-decoration: none;
  font-family: "Now", sans-serif;
  font-weight: bold;
  color: #eeeeee;
  opacity: 0.85;
}

#profImg {
  height: 30px;
  width: 30px;
  margin-right: 5px;
  vertical-align: inherit;
}

// RIGHT SIDE

#topBarLogout {
  margin-top: 5px;
  justify-content: flex-end;
  float: right;
}

#logoutIcon {
  height: 30px;
  width: 30px;
}

// NOTIFICATIONS

#notificationNav {
  float: left;
  position: relative;
  margin: 6px 0 0 0;
}

#notificationButton {
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
  height: 30px;
  padding: 0 10px 2px 13px;
  border-left: 1px solid #b00f1f;
}

#notificationIcon {
  height: 30px;
  width: 30px;
}

// GLOBAL

.global-wrapper
{
    background: #000000;
    min-width: 820px;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header
{
    height: 70px;
    background-color: #CF151A;
}

.headWrapper
{
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 100%;
    margin: 0 auto;
}

.logo {
  height: 40px;
  display: table;
  text-align: center;

  h1 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 20px;
  }

  a {
    text-decoration: none;
  }
}

.login-form {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: right;
  .forgot-pass {
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
    left: 200px;
    position: absolute;
    top: 45px;
    color: #c6cacd;
  }
  input {
    display: inline-block;
    margin: 10px 12px 0 0;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 5px 6px 4px;
    font-size: 12px;
    width: 180px;
  }
  input[type="submit"] {
    font-weight: bold;
    border-width: 1px;
    border-style: solid;
    overflow: visible;
    text-decoration: none !important;
    text-align: center;
    width: auto;
    border-radius: 3px;
    padding: 0 10px;
    height: 26px;
    line-height: 24px;
    box-sizing: border-box;
    font-size: 12px;
    color: #681500;
    background-color: #c5bec4;
    border-color: #7f0910;
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
    margin: 10px 0 0;
  }
}

.main
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    min-height: 480px;
}

/* REGISTER FORM*/

.registerForm {
  width: 420px;
  padding: 15px 30px 30px;
  background-color: #FFFFFF;
  margin: 10px 0;
  label {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 2px;
    display: block;
  }
  input {
    vertical-align: middle;
    display: block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 18px;
    padding: 0 0 0 6px;
    border: 1px solid;
    height: 32px;
    width: 100%;
    margin-bottom: 15px;
  }
}

.agreement
{
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    display:block;
    margin-bottom: 15px;
}

.headerReg
{
    line-height: 24px;
    text-align: center;
}

.subHeadReg
{
    line-height: 24px;
    text-align: center;
}

/*FOOTER*/

.footer-wrapper
{
    background-color: #737373;
    vertical-align: baseline;
    width: 100%;
}

#footer {
  margin: 0 auto;
  width: 800px;
  .copyright {
    color: #c3c3c3;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
  }
}

/* FORGOT PASSWORD*/

.forPass
{
    background: #dee2e5 !important;
}

.headForPass
{
    text-align: center;
}

.forPassForm {
  position: fixed;
  top: 150px;
  width: 420px;
  padding: 15px 30px 30px;
  background-color: #FFFFFF;
  margin: 10px 0;
  label {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 2px;
    display: block;
  }
  input {
    vertical-align: middle;
    display: block;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    line-height: 18px;
    padding: 0 0 0 6px;
    border: 1px solid;
    height: 32px;
    width: 100%;
    margin-bottom: 15px;
  }
  .forPassForm-actions {
    text-align: center;
    margin-top: 30px;
  }
  .btnSubmit {
    cursor: pointer;
    margin: 0;
    overflow: visible;
    text-decoration: none !important;
    width: auto;
    padding: 0 15px;
    line-height: 30px;
    box-sizing: border-box;
    white-space: nowrap;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    text-align: center;
    align-items: flex-start;
  }
}


@font-face {
    font-family: 'Now';
    src: url('fonts/now/Now-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Now';
  src: url('fonts/now/Now-Bold.otf');
  font-weight: bold;
  font-style: normal;
}
/*font-family: "Computer Modern Sans", Tahoma, Geneva, sans-serif;*/
@font-face {
    font-family: 'Computer Modern Sans';
    src: url('fonts/cmu/cmunss.eot');
    src: url('fonts/cmu/cmunss.eot?#iefix') format('embedded-opentype'),
    url('fonts/cmu/cmunss.woff') format('woff'),
    url('fonts/cmu/cmunss.ttf') format('truetype'),
    url('fonts/cmu/cmunss.svg#cmunss') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Sans';
    src: url('fonts/cmu/cmunsx.eot');
    src: url('fonts/cmu/cmunsx.eot?#iefix') format('embedded-opentype'),
    url('fonts/cmu/cmunsx.woff') format('woff'),
    url('fonts/cmu/cmunsx.ttf') format('truetype'),
    url('fonts/cmu/cmunsx.svg#cmunsx') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Computer Modern Sans';
    src: url('fonts/cmu/cmunsi.eot');
    src: url('fonts/cmu/cmunsi.eot?#iefix') format('embedded-opentype'),
    url('fonts/cmu/cmunsi.woff') format('woff'),
    url('fonts/cmu/cmunsi.ttf') format('truetype'),
    url('fonts/cmu/cmunsi.svg#cmunsi') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Computer Modern Sans';
    src: url('fonts/cmu/cmunso.eot');
    src: url('fonts/cmu/cmunso.eot?#iefix') format('embedded-opentype'),
    url('fonts/cmu/cmunso.woff') format('woff'),
    url('fonts/cmu/cmunso.ttf') format('truetype'),
    url('fonts/cmu/cmunso.svg#cmunso') format('svg');
    font-weight: bold;
    font-style: italic;
}


